In [17]:
import pandas as pd

In [18]:
#how to merge different files to one file

In [19]:
#step 1: load all files to dataframes with same columns and row labels..only differes in data values

df1=pd.read_csv(r'C:\Users\PREETI SARASWAT\Desktop\test\scipy-2017-tutorial-pandas-master\scipy-pandas\data\concat_1.csv',\
               delimiter=',')
df2=pd.read_csv(r'C:\Users\PREETI SARASWAT\Desktop\test\scipy-2017-tutorial-pandas-master\scipy-pandas\data\concat_2.csv',\
               delimiter=',')
df3=pd.read_csv(r'C:\Users\PREETI SARASWAT\Desktop\test\scipy-2017-tutorial-pandas-master\scipy-pandas\data\concat_3.csv',\
               delimiter=',')

In [20]:
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [21]:
df2

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [22]:
df3

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [23]:
#step 2: concatenate data row wise, thus is just append the data one after other in a single file
row_concat=pd.concat([df1,df2,df3])
row_concat

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [24]:
row_concat.reset_index() # you can try to reset index but the row labels wont change..

    index    A    B    C    D
0       0   a0   b0   c0   d0
1       1   a1   b1   c1   d1
2       2   a2   b2   c2   d2
3       3   a3   b3   c3   d3
4       0   a4   b4   c4   d4
5       1   a5   b5   c5   d5
6       2   a6   b6   c6   d6
7       3   a7   b7   c7   d7
8       0   a8   b8   c8   d8
9       1   a9   b9   c9   d9
10      2  a10  b10  c10  d10
11      3  a11  b11  c11  d11

In [25]:
row_concat.loc[3] # you cannot access loc[10] it simply doesnt exist

     A    B    C    D
3   a3   b3   c3   d3
3   a7   b7   c7   d7
3  a11  b11  c11  d11

In [26]:
row_concat.iloc[[-4,7,0]]

    A   B   C   D
0  a8  b8  c8  d8
3  a7  b7  c7  d7
0  a0  b0  c0  d0

In [27]:
row_concat.reset_index(drop=True) # this command will drop previous indexes for cleaner data. but still we cant access it by loc[10] due to row labels

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [37]:
#add a new row of data
new_row=pd.DataFrame([['n1','n2','n3','n4']], columns=['A','C','B','D']) 
#see the double brackets in row values, else it considers it as series
new_row

    A   C   B   D
0  n1  n2  n3  n4

In [38]:
df=pd.concat([df1,new_row])

In [39]:
df  #if columns names not specified those columns are filled with null values

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n3  n2  n4

In [42]:
df=pd.concat([df1,new_row],axis=1) 
df                                    # you can specify axis over which you want to concatenate

    A   B   C   D    A    C    B    D
0  a0  b0  c0  d0   n1   n2   n3   n4
1  a1  b1  c1  d1  NaN  NaN  NaN  NaN
2  a2  b2  c2  d2  NaN  NaN  NaN  NaN
3  a3  b3  c3  d3  NaN  NaN  NaN  NaN

In [47]:
df1.columns=['f','G','H','v'] #it rename columns

In [48]:
df1

    f   G   H   v
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [51]:
df1.index=[10,11,12,13]  #for renaming index

In [52]:
df1

     f   G   H   v
10  a0  b0  c0  d0
11  a1  b1  c1  d1
12  a2  b2  c2  d2
13  a3  b3  c3  d3

In [ ]:
#merging data or doing table joins

In [55]:
person=pd.read_csv(r'C:\Users\PREETI SARASWAT\Desktop\test\scipy-2017-tutorial-pandas-master\scipy-pandas\data\survey_person.csv',\
               delimiter=',')
site=pd.read_csv(r'C:\Users\PREETI SARASWAT\Desktop\test\scipy-2017-tutorial-pandas-master\scipy-pandas\data\survey_site.csv',\
               delimiter=',')
survey=pd.read_csv(r'C:\Users\PREETI SARASWAT\Desktop\test\scipy-2017-tutorial-pandas-master\scipy-pandas\data\survey_survey.csv',\
               delimiter=',')
visited=pd.read_csv(r'C:\Users\PREETI SARASWAT\Desktop\test\scipy-2017-tutorial-pandas-master\scipy-pandas\data\survey_visited.csv',\
               delimiter=',')

In [56]:
merged_data= pd.merge(site,visited,how='inner',left_on='name',right_on='site') #left_on is the pk in left col, right_on is primary key in right data set

In [57]:
merged_data

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [58]:
pd.merge? # to get help section on merge

In [61]:
#while performing outer joins, it creates pairwise copy of all elements and hence you end up with far more data than you originally had
#you can check which rows have been duplicated

first=pd.DataFrame({
                 'a1':[1,2,3,4],
                  'b1':[100,200,300,400]})

In [70]:
second=pd.DataFrame({
        'a2':[1,2,1,3],
        'b2':[100,200,20,60]})

In [75]:
common=first.merge(second, how='outer', left_on='a1', right_on='a2')

In [76]:
common

   a1    b   a2     b2
0   1  100  1.0  100.0
1   1  100  1.0   20.0
2   2  200  2.0  200.0
3   3  300  3.0   60.0
4   4  400  NaN    NaN

In [80]:
common.duplicated('a1') #check duplicated data, another method is to do frequency counts

0    False
1     True
2    False
3    False
4    False
dtype: bool