In [8]:
import pandas as pd

In [9]:
#seaborn is a plotting library

In [10]:
import seaborn as sns

In [11]:
print('hello')

hello

In [13]:
tips=sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 6.7 KB

In [15]:
#object is string data basically
tips['total_bill_str']=tips['total_bill'].astype(str)

In [16]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill        244 non-null float64
tip               244 non-null float64
sex               244 non-null category
smoker            244 non-null category
day               244 non-null category
time              244 non-null category
size              244 non-null int64
total_bill_str    244 non-null object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 7.7+ KB

In [18]:
tips_subset=tips.head(10)
tips_subset.loc[[3,5,1,7],'total_bill']='missing'
'''now there will be mixed data. since we need one datatype for each column and there is no way our sytem can convert 
string (missing) into float. so it converted whole column to object instead'''
tips_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
total_bill        10 non-null object
tip               10 non-null float64
sex               10 non-null category
smoker            10 non-null category
day               10 non-null category
time              10 non-null category
size              10 non-null int64
total_bill_str    10 non-null object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 356.0+ bytes

In [21]:
#tips_subset['total_bill'].astype(float)
#this wont work as it simply cant convert an anonymouus string variable to float

In [24]:
'''pd.to_numeric? 
pd.to_numeric(arg, errors='raise') errors is raise by default. 
it can have 3 values raise, ignore and coerce..coerce will set all values that cannot be converted as Nan'''

"pd.to_numeric? \npd.to_numeric(arg, errors='raise') errors is raise by default. \nit can have 3 values raise, ignore and coerce..coerce will set all values that cannot be converted as Nan"

In [25]:
pd.to_numeric(tips_subset['total_bill'],errors='coerce')

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64